<footer class="footer container" id="footer">
  <div class="footer-components">
    <div class="footer-component">
      <h2 id="footer" class="footer-heading">
        <span class="footer-heading-accent-color">Chocolate</span> a delicious
        cure for a bad day
      </h2>
    </div>
    <div class="footer-component footer-contacts">
      <h3 class="footer-contacts-heading">Contact us</h3>
      <ul class="footer-contacts-list">
        <li class="footer-contacts-item">
          <a href="tel:+380684439426" class="footer-contacts-link"
            >+380 (68) 443-94-26</a
          >
        </li>
        <li class="footer-contacts-item">
          <a href="mailto:simplychoc@gmail.com" class="footer-contacts-link"
            >simplychoc@gmail.com</a
          >
        </li>
      </ul>
    </div>
    <div class="footer-component">
      <ul class="footer-soc-list">
        <li class="footer-soc-item">
          <a
            href="https://www.instagram.com/"
            rel="noopener noreferrer nofollow"
            target="_blank"
            class="footer-soc-link"
            ><svg class="footer-soc-icon">
              <use href="./img/icons.svg#instagram"></use></svg
          ></a>
        </li>
        <li class="footer-soc-item">
          <a
            href="https://twitter.com/"
            rel="noopener noreferrer nofollow"
            target="_blank"
            class="footer-soc-link"
            ><svg class="footer-soc-icon">
              <use href="./img/icons.svg#twitter"></use></svg
          ></a>
        </li>
      </ul>
    </div>
  </div>

  <nav class="footer-site-nav">
    <ul class="footer-site-nav-list">
      <li class="footer-site-nav-item">
        <a href="#home" class="footer-site-nav-link">Home</a>
      </li>
      <li class="footer-site-nav-item">
        <a href="#how-its-made" class="footer-site-nav-link">How it’s made?</a>
      </li>
      <li class="footer-site-nav-item">
        <a href="#our-products" class="footer-site-nav-link">Our products</a>
      </li>
      <li class="footer-site-nav-item">
        <a href="#top-sellers" class="footer-site-nav-link">Top sellers</a>
      </li>
      <li class="footer-site-nav-item">
        <a href="#chocolate-is-loved" class="footer-site-nav-link"
          >Chocolate is loved</a
        >
      </li>
    </ul>
  </nav>
</footer>
