<!-- <br>Footer<br>
В Footer-і знаходиться слоган компанії, контакти, перелік посилань на соц. мережі компанії, а також перелік якірних посилань по сайту.
Контактні номер телефону та електронна пошта необхідно реалізувати за допомогою протоколів посилання.
Перелік посилань на соц. мережі має бути реалізовано як список елементів за допомогою <ul>, що відкриватимуть стартову сторінку відповідної соц. мережі у новій вкладці. Іконки соц. мереж потрібно реалізувати у форматі svg. 
Перелік якірних посилань має бути реалізовано як список елементів за допомогою <ul>.  -->
