<header class="header container" id="home">
  <nav class="header-title">
    <a href="./index.html" class="title-link">
      <span class="header-simply">SIMPLY</span>
      CHOCOLATE
      <svg class="header-icon">
        <use href="./img/icons.svg#chocolate-logo"></use>
      </svg>
    </a>
    <ul class="header-nav">
      <li class="header-link"><a href="#home">Home</a></li>
      <li class="header-link"><a href="#how-its-made">How it’s made?</a></li>
      <li class="header-link"><a href="#our-products">Our products</a></li>
      <li class="header-link"><a href="#top-sellers">Top sellers</a></li>
      <li class="header-link">
        <a href="#chocolate-is-loved">Chocolate is loved</a>
      </li>
    </ul>
  </nav>
  <address class="header-address">
    <ul class="header-soc">
      <li class="header-soc-link">
        <a
          class="header-soc-item"
          href="https://www.instagram.com/"
          target="_blank"
          rel="noreferrer noopener nofollow"
          ><svg class="header-soc-icon">
            <use href="./img/icons.svg#instagram"></use></svg
        ></a>
      </li>
      <li class="header-soc-link">
        <a
          class="header-soc-item"
          href="https://twitter.com/"
          target="_blank"
          rel="noreferrer noopener nofollow"
          ><svg class="header-soc-icon">
            <use href="./img/icons.svg#twitter"></use></svg
        ></a>
      </li>
    </ul>
  </address>
  <button type="button" data-menu-open class="menu-open">
    <svg class="menu-open-icon">
      <use href="./img/icons.svg#mobile-burger"></use>
    </svg>
  </button>
  <div class="mob-menu container" data-menu>
    <div class="mob-container">
      <div class="nav-mob">
        <button type="button" data-menu-close class="menu-close">
          <svg class="menu-close-icon" width="28" height="28">
            <use href="./img/icons.svg#close"></use>
          </svg>
        </button>
        <ul class="header-nav-mob">
          <li class="header-link-mob"><a href="#home">Home</a></li>
          <li class="header-link-mob">
            <a href="#how-its-made">How it’s made?</a>
          </li>
          <li class="header-link-mob">
            <a href="#our-products">Our products</a>
          </li>
          <li class="header-link-mob">
            <a href="#top-sellers">Top sellers</a>
          </li>
          <li class="header-link-mob">
            <a href="#chocolate-is-loved">Chocolate is loved</a>
          </li>
        </ul>
      </div>
      <div class="mob-address">
        <address>
          <ul class="mob-soc">
            <li class="mob-soc-link">
              <a
                class="mob-soc-item"
                href="https://www.instagram.com/"
                target="_blank"
                rel="noreferrer noopener nofollow"
                ><svg class="mob-soc-icon">
                  <use href="./img/icons.svg#instagram"></use></svg
              ></a>
            </li>
            <li class="mob-soc-link">
              <a
                class="mob-soc-item"
                href="https://twitter.com/"
                target="_blank"
                rel="noreferrer noopener nofollow"
                ><svg class="mob-soc-icon">
                  <use href="./img/icons.svg#twitter"></use></svg
              ></a>
            </li>
          </ul>
        </address>
      </div>
    </div>
  </div>
</header>
