<section class="hero-section">
  <div class="hero container">
    <div class="hero-container">
      <h1 class="hero-title visually-hidden">Buy Chocolate</h1>
      <h2 class="hero-title-text">
        Treat yourself or a loved one to our finest ingredients for a moment of
        pure delight!
      </h2>
      <div class="hero-wrapper">
        <button type="button" class="hero-btn js-buy-open-btn">Buy now</button>
        <a href="#how-its-made" class="hero-link">How it’s made</a>
        <a href="#footer" class="hero-scroll-link js-scroll-down">
          <p class="hero-scroll">scroll down</p>
          <div class="hero-scroll-wrapper">
            <svg class="hero-scroll-icon">
              <use href="./img/icons.svg#angle"></use>
            </svg>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
