<!-- <br>Hero<br>
У секції немає видимого заголовку. Потрібно зробити прихований заголовок для краулерів.
Текст “Treat yourself or a loved one to our finest ingredients for a moment of pure delight!”  є підзаголовком сторінки.
Кнопка “Buy now” відкриває модальне вікно “Buy now”.
Кнопка “How it’s made” є якірним посиланням до секції “How it’s made”.
Кнопка “Scroll down” є якірним посиланням до Footerу. -->
<section class="hero container">
    <div class="hero-container">
        <h1 class="hero-title visually-hidden">Buy Chocolate</h1>
        <h2 class="hero-title-text">Treat yourself or a loved one to our finest ingredients for a moment of pure delight!</h2>
        <button type="button" class="hero-btn js-buy-open-btn">Buy now</button>
        <a class="hero-link">How it’s made</a>
        <p class="hero-scroll">scroll down</p>
        <a class="hero-scroll-link">
            <!-- <svg>
                <use></use>
            </svg> -->
        </a>
    </div>
</section>

