<!-- <br>How it’s made?<br>
Текст “HOW IT’S MADE?” є заголовком секції.
Зображення потрібно реалізувати як контентні зображення. 
Відео-ролик необхідно реалізувати за допомогою iframe, вибравши на Youtube тематичний ролик.* 
У секції знаходиться перелік необхідних кроків для приготування шоколадних цукерок, який необхідно реалізувати як список елементів за допомогою <ul>. -->

<section class="how-its-made-container container">
<h2 class="how-its-made-title">how it's <span class="how-its-made-title-special">made?</span></h2>
<div class="how-its-made-cover">
<div class="how-its-made-thumb">
    <iframe class="how-its-made-media" src="https://www.youtube.com/embed/xqXOMDQhDyU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
<div class="how-its-made-article">
    <h3 class="how-its-made-article-title">Try  our chocolates today and discover the perfect balance of flavor</h3>
    <ul class="how-its-made-lists">
        <li class="how-its-made-list">Heat the milk in a saucepan without bringing it to a boil. Add sugar and cocoa powder.</li>
        <li class="how-its-made-list">At the same time, prepare a water bath. Melt the butter on it.</li>
        <li class="how-its-made-list">"Mix" the milk mixture and already liquid butter. Mix thoroughly with a silicone spatula so that the mass becomes uniform and silky.</li>
        <li class="how-its-made-list">Heat the mixture over low heat, letting it barely boil.</li>
        <li class="how-its-made-list">Pour the chocolate into special containers (can be replaced with ice molds). Allow to cool and harden.</li>
    </ul>
</div>
</div>
</section>