<form class="subscribe-form subscribe-form-hidden">
    <img class="subscribe-form-img" srcset="../img/subscribe/mobile-modal-subscribe.jpg 300w, ../img/subscribe/desktop-tablet-modal-subscribe.jpg 768w" alt="chocolate">
    <button class="subscribe-form-close">X
        <!-- <svg class="subscribe-form-close-svg" width="24px" height="24px">
            <use href="../img/icons.svg#close"></use>
        </svg> -->
    </button>
    <div class="subscribe-form-text">
        <h1 class="subscribe-form-title">Explore our <br> <span class="subscribe-form-orange">new chocolate</span> first!</h1>
        <div class="subscribe-form-group">
            <input class="subscribe-form-input" type="email" name="email" placeholder="Enter your email">
            <button class="subscribe-form-submit" type="submit">Submit</button>
        </div>
    </div>
</form>