<div class="modal-buy-now">
  <h2 class="modal-buy-title">bUY nOW</h2>

  <ul>
    <li>
      <img src="" alt="" />
      <div></div>
    </li>
    <li>
      <img src="" alt="" />
    </li>
    <li>
      <img src="" alt="" />
    </li>
  </ul>

  <label class="modal-buy-block" for="personal-info">
    <p class="modal-buy-subtitle">Personal information</p>
    <div class="modal-buy-personal">
      <input
        class="modal-buy-input"
        type="text"
        name="personal-info"
        id="personal-info"
      />
      <input
        class="modal-buy-input"
        type="text"
        name="personal-info"
        id="personal-info"
      />
    </div>
  </label>
</div>

