<div class="container">
  <div class="modal-buy-now">

    <button type="button" class="buy-close-wrapper js-reviewClose" aria-label="modal close">
    <svg class="buy-close">
      <use href="../img/icons.svg#close"></use>
    </svg>
    </button>

    <h2 class="modal-buy-title">
      <span class="buy-title-accent">bUY</span> nOW
    </h2>

    <div class="swiper">
      <ul class="buy-choco-list swiper-wrapper">
        <li class="buy-choco-item swiper-slide">
          <div class="buy-choco-content">
                        <img
                srcset="
                  ../img/buy-now/mobile-pieces.png    1x,
                  ../img/buy-now/mobile-pieces@2x.png 2x
                "
                src="../img/buy-now/mobile-pieces.png"
                alt="chocolate piece"
              />
            <p class="buy-description">100 g</p>
                    </div>
        </li>
        <li class="buy-choco-item swiper-slide">
          <div class="buy-choco-content">
                       <img
              srcset="
                ../img/buy-now/mobile-column.png    1x,
                ../img/buy-now/mobile-column@2x.png 2x
              "
              src="../img/buy-now/mobile-column.png"
              alt="chocolate mix"
            />
            <p class="buy-description">200 g</p>
          </div>
        </li>
        <li class="buy-choco-item swiper-slide">
          <div class="buy-choco-content">
                       <img
              srcset="
                ../img/buy-now/mobile-chocolate.png    1x,
                ../img/buy-now/mobile-chocolate@2x.png 2x
              "
              src="../img/buy-now/mobile-chocolate.png"
              alt="chocolate bar"
            />
                        <p class="buy-description">300 g</p>
        </li>
      </ul>
      <div class="swiper-pagination swiper-pagination-buy"></div>
    </div>

    <form class="modal-form-buy" name="modal-buy-now" autocomplete="on">
      <div class="modal-buy-inputs">
        <label class="buy-personal" for="personal-info">
          <span class="modal-buy-subtitle">Personal information</span>
          <span class="modal-buy-personal">
            <input
              class="modal-buy-input"
              type="text"
              name="personal-info"
              id="personal-info"
              placeholder="Name"
              required
              pattern="^[a-zA-Zа-яА-Я]+"
              minlength="2"
            />
            <input
              class="modal-buy-input"
              type="text"
              name="personal-info"
              id="personal-info"
              placeholder="Surname"
              required
              pattern="^[a-zA-Zа-яА-Я]+"
              minlength="2"
            />
          </span>
        </label>
      </div>

      <div class="modal-buy-inputs">
        <label class="buy-email" for="buy-email">
          <span class="modal-buy-subtitle">Email</span>
          <input
            class="modal-buy-input"
            type="email"
            name="buy-email"
            id="buy-email"
            placeholder="Enter your email"
            required
          />
        </label>
      </div>

      <div class="modal-buy-inputs">
        <label class="buy-phone" for="buy-phone">
          <span class="modal-buy-subtitle">Phone number</span>

          <span class="buy-phone-icon-wrapper">
            <svg class="buy-flag">
              <use href="../img/icons.svg#flag"></use>
            </svg>
            <span class="country-code">+380</span>
            <input
              class="modal-buy-input modal-buy-phone"
              type="tel"
              name="buy-phone"
              id="buy-phone"
              placeholder="Phone number"
              required
               pattern="[0-9]{3}-[0-9]{2}-[0-9]{2}" 
               title="xxx-xx-xx"
            />
          </span>
        </label>
      </div>

      <div class="modal-buy-inputs">
        <label class="buy-card" for="buy-phone">
          <span class="modal-buy-subtitle">Card number</span>

          <span class="modal-mastercard-wrapper">
            <input
              class="modal-buy-input buy-card-input"
              type="tel"
              name="buy-card"
              id="buy-card"
              placeholder="Enter card"
              required
              pattern="[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{4}"
              title="xxxx-xxxx-xxxx-xxxx"
            />
            <svg class="buy-mastercard">
              <use href="../img/icons.svg#mastercard"></use>
            </svg>
          </span>
        </label>
      </div>

      <div class="modal-buy-inputs">
        <label class="buy-feedback" for="buy-feedback">
          <span class="modal-buy-subtitle">Comment</span>
          <textarea
            class="modal-buy-input modal-buy-text"
            name="buy-feedback"
            placeholder="Enter text"
          ></textarea>
        </label>
      </div>

      <button class="modal-buy-btn" type="submit">Submit</button>
    </form>
  </div>
</div>

<div class="container">
  <div class="modal-buy-thanks">
    <button type="button" class="modal-icon-wrapper js-reviewClose">
      <svg class="thanks-close">
        <use href="../img/icons.svg#close-modal"></use>
      </svg>
    </button>
    <p class="thank-you-subtitle">thank you!</p>
    <p class="thanks-text">
      We are glad that you ordered our chocolate and we are giving you a 20%
      discount on all our products.
    </p>
  </div>
</div>
