<form class="subscribe-form js-subscribeSubmit subscribe-form-hidden visually-hidden" action="javascript:void(0);" method="POST">
  <picture>
    <source
      srcset="
        ./img/subscribe/mobile-modal-subscribe.jpg    1x,
        ./img/subscribe/mobile-modal-subscribe@2x.jpg 2x
      "
      media="(max-width: 767px)"
    />

    <source
      srcset="
        ./img/subscribe/desktop-tablet-modal-subscribe.jpg    1x,
        ./img/subscribe/desktop-tablet-modal-subscribe@2x.jpg 2x
      "
      media="(min-width: 768px)"
    />

    <img
      class="subscribe-form-img"
      src="./img/subscribe/desktop-tablet-modal-subscribe.jpg"
      alt="chocolate"
    />
  </picture>

  <button class="subscribe-form-close" type="button">
    <svg class="subscribe-form-close-svg">
      <use href="./img/icons.svg#close"></use>
    </svg>
  </button>
  <div class="subscribe-form-text">
    <h1 class="subscribe-form-title">
      Explore our <br />
      <span class="subscribe-form-orange">new chocolate</span> first!
    </h1>
    <div class="subscribe-form-group">
      <input
        class="subscribe-form-input"
        type="email"
        name="email"
        placeholder="Enter your email"
        required
      />
      <button class="subscribe-form-submit" type="submit">Submit</button>
    </div>
  </div>
</form>
