<!-- <br>Our products <br>
Текст “OUR PRODUCTS” є заголовком секції.
У секції знаходиться перелік продуктів компанії, який необхідно реалізувати як список елементів за допомогою <ul>. У секції представлений слайдер. Маркери знизу - це пагінація слайдера. Якщо ви підключаєте бібліотеку слайдера до проєкту, їх не потрібно верстати, вони автоматично генеруються бібліотекою. Потрібно буде лише зробити стилізацію пагінації.* -->
<section class="our-products" id="our-products">
  <div class="container">
    <h2 class="our-products-title">
      OUR <span class="our-products-title-text">PRODUCTS</span>
    </h2>
    <div class="swiper">
      <ul class="our-products-list swiper-wrapper">
        <li class="our-products-item swiper-slide">
          <div class="our-products-img-wrapper">
            <picture>
              <source
                srcset="
                  ./img/our-products/1-orange.jpg    1x,
                  ./img/our-products/1-orange@2x.jpg 2x
                "
              />
              <img
                src="./img/our-products/1-orange.jpg"
                alt="Orange Dark chocolate"
              />
            </picture>
          </div>
          <div class="our-products-content-wrapper">
            <h3 class="our-products-content-wrapper-title">ORANGE</h3>
            <p class="our-products-content-wrapper-text">Dark chocolate</p>
            <div class="our-products-price">
              <p class="our-products-content-wrapper-price">45 UAH</p>
            </div>
          </div>
        </li>
        <li class="our-products-item swiper-slide">
          <div class="our-products-img-wrapper">
            <picture>
              <source
                srcset="
                  ./img/our-products/2-apple.jpg    1x,
                  ./img/our-products/2-apple@2x.jpg 2x
                "
              />
              <img
                src="./img/our-products/2-apple.jpg"
                alt="APPLE&CRANBERRY Milk chocolate"
              />
            </picture>
          </div>
          <div class="our-products-content-wrapper">
            <h3 class="our-products-content-wrapper-title">APPLE&CRANBERRY</h3>
            <p class="our-products-content-wrapper-text">Milk chocolate</p>
            <div class="our-products-price">
              <p class="our-products-content-wrapper-price">50 UAH</p>
            </div>
          </div>
        </li>
        <li class="our-products-item swiper-slide">
          <div class="our-products-img-wrapper">
            <picture>
              <source
                srcset="
                  ./img/our-products/3-lime.jpg    1x,
                  ./img/our-products/3-lime@2x.jpg 2x
                "
              />
              <img
                src="./img/our-products/3-lime.jpg"
                alt="LIME&SEA SALT Dark chocolate"
              />
            </picture>
          </div>
          <div class="our-products-content-wrapper">
            <h3 class="our-products-content-wrapper-title">LIME&SEA SALT</h3>
            <p class="our-products-content-wrapper-text">Dark chocolate</p>
            <div class="our-products-price">
              <p class="our-products-content-wrapper-price">66 UAH</p>
            </div>
          </div>
        </li>
        <li class="our-products-item swiper-slide">
          <div class="our-products-img-wrapper">
            <picture>
              <source
                srcset="
                  ./img/our-products/4-pineapple.jpg    1x,
                  ./img/our-products/4-pineapple@2x.jpg 2x
                "
              />
              <img
                src="./img/our-products/4-pineapple.jpg"
                alt="PINEAPPLE Dark chocolate"
              />
            </picture>
          </div>
          <div class="our-products-content-wrapper">
            <h3 class="our-products-content-wrapper-title">PINEAPPLE</h3>
            <p class="our-products-content-wrapper-text">Dark chocolate</p>
            <div class="our-products-price">
              <p class="our-products-content-wrapper-price">54 UAH</p>
            </div>
          </div>
        </li>
        <li class="our-products-item swiper-slide">
          <div class="our-products-img-wrapper">
            <picture>
              <source
                srcset="
                  ./img/our-products/5-classic-milk.jpg    1x,
                  ./img/our-products/5-classic-milk@2x.jpg 2x
                "
              />
              <img
                src="./img/our-products/5-classic-milk.jpg"
                alt="CLASSIC Milk chocolate"
              />
            </picture>
          </div>
          <div class="our-products-content-wrapper">
            <h3 class="our-products-content-wrapper-title">CLASSIC</h3>
            <p class="our-products-content-wrapper-text">Milk chocolate</p>
            <div class="our-products-price">
              <p class="our-products-content-wrapper-price">45 UAH</p>
            </div>
          </div>
        </li>
        <li class="our-products-item swiper-slide">
          <div class="our-products-img-wrapper">
            <picture>
              <source
                srcset="
                  ./img/our-products/6-honey.jpg    1x,
                  ./img/our-products/6-honey@2x.jpg 2x
                "
              />
              <img
                src="./img/our-products/6-honey.jpg"
                alt="HONEY Milk chocolate"
              />
            </picture>
          </div>
          <div class="our-products-content-wrapper">
            <h3 class="our-products-content-wrapper-title">HONEY</h3>
            <p class="our-products-content-wrapper-text">Milk chocolate</p>
            <div class="our-products-price">
              <p class="our-products-content-wrapper-price">50 UAH</p>
            </div>
          </div>
        </li>
        <li class="our-products-item swiper-slide">
          <div class="our-products-img-wrapper">
            <picture>
              <source
                srcset="
                  ./img/our-products/7-roasted-fruits.jpg    1x,
                  ./img/our-products/7-roasted-fruits@2x.jpg 2x
                "
              />
              <img
                src="./img/our-products/7-roasted-fruits.jpg"
                alt="ROASTED FRUITS Dark chocolate"
              />
            </picture>
          </div>
          <div class="our-products-content-wrapper">
            <h3 class="our-products-content-wrapper-title">ROASTED FRUITS</h3>
            <p class="our-products-content-wrapper-text">Dark chocolate</p>
            <div class="our-products-price">
              <p class="our-products-content-wrapper-price">66 UAH</p>
            </div>
          </div>
        </li>
        <li class="our-products-item swiper-slide">
          <div class="our-products-img-wrapper">
            <picture>
              <source
                srcset="
                  ./img/our-products/8-classic.jpg    1x,
                  ./img/our-products/8-classic@2x.jpg 2x
                "
              />
              <img
                src="./img/our-products/8-classic.jpg"
                alt="CLASSIC White chocolate"
              />
            </picture>
          </div>
          <div class="our-products-content-wrapper">
            <h3 class="our-products-content-wrapper-title">CLASSIC</h3>
            <p class="our-products-content-wrapper-text">White chocolate</p>
            <div class="our-products-price">
              <p class="our-products-content-wrapper-price">54 UAH</p>
            </div>
          </div>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
