<!-- <br>Reviews<br>
Текст “CHOCOLATE IS LOVED” є заголовком секції.
У секції представлений слайдер із відгуками покупців. Маркери знизу - це пагінація слайдера. Якщо ви підключаєте бібліотеку слайдера до проєкту, їх не потрібно верстати, вони автоматично генеруються бібліотекою. Потрібно буде лише зробити стилізацію пагінації.*
Кнопка “Leave a review” відкриває модальне вікно “Leave a review about our chocolate”. -->

<section class="reviews">
  <div class="container">
    <h2 class="reviews-title"><span class="reviews-title-accent">Chocolate</span> is loved</h2>
    <div class="swiper2">
      <ul class="reviews-list swiper-wrapper">
        <li class="reviews-item swiper-slide">
          <div class="reviews-item-top"></div>
          <div class="reviews-item-container">
            <img
              class="reviews-photo"
              srcset="
                ../img/reviews/victoria-dobrzhanska.png    1x,
                ../img/reviews/victoria-dobrzhanska@2x.png 2x
              "
              src="../img/reviews/victoria-dobrzhanska.png"
              alt="Victoria Dobrzhanska"
            />
            <h3 class="reviews-item-title">Victoria Dobrzhanska</h3>
            <p class="reviews-item-text">
              I love this chocolate bar. Perfect combination of light crispy
              wafer, covered in a thin layer chocolate.
            </p>
          </div>
        </li>
        <li class="reviews-item swiper-slide">
          <div class="reviews-item-top"></div>
          <div class="reviews-item-container">
            <img
              class="reviews-photo"
              srcset="
                ../img/reviews/nazar-babenko.png    1x,
                ../img/reviews/nazar-babenko@2x.png 2x
              "
              src="../img/reviews/nazar-babenko.png"
              alt="Nazar Babenko"
            />
            <h3 class="reviews-item-title">Nazar Babenko</h3>
            <p class="reviews-item-text">
              This chocolate confection is a delight! A delight! The wafer is
              light and crisp, the hazelnut cream is smooth, and the chocolate is
              good.
            </p>
          </div>
        </li>
        <li class="reviews-item swiper-slide">
          <div class="reviews-item-top"></div>
          <div class="reviews-item-container">
            <img
              class="reviews-photo"
              srcset="
                ../img/reviews/olena-kampusch.png    1x,
                ../img/reviews/olena-kampusch@2x.png 2x
              "
              src="../img/reviews/olena-kampusch.png"
              alt="Olena Kampusch"
            />
            <h3 class="reviews-item-title">Olena Kampusch</h3>
            <p class="reviews-item-text">
              Chocolate is a family favourite treat. Love the delicious smooth
              chocolate and the creaminess inside. The wafer is soft but crunchy.
            </p>
          </div>
        </li>
        <li class="reviews-item swiper-slide">
          <div class="reviews-item-top"></div>
          <div class="reviews-item-container">
            <img
              class="reviews-photo"
              srcset="
                ../img/reviews/natalia-sus.png    1x,
                ../img/reviews/natalia-sus@2x.png 2x
              "
              src="../img/reviews/natalia-sus.png"
              alt="Natalia Sus"
            />
            <h3 class="reviews-item-title">Natalia Sus</h3>
            <p class="reviews-item-text">
              The chocolate assortment was delicious. Both dark and milk chocolate
              pieces were smooth and just right on the sweetness level.
            </p>
          </div>
        </li>
        <li class="reviews-item swiper-slide">
          <div class="reviews-item-top"></div>
          <div class="reviews-item-container">
            <img
              class="reviews-photo"
              srcset="
                ../img/reviews/danilo-nottingham.png    1x,
                ../img/reviews/danilo-nottingham@2x.png 2x
              "
              src="../img/reviews/danilo-nottingham.png"
              alt="Danilo Nottingham"
            />
            <h3 class="reviews-item-title">Danilo Nottingham</h3>
            <p class="reviews-item-text">
              This is delicious. It so rich and flavorful you don’t need to use as
              many. I love topping an apple with almond butter and these chips for
              a snack.
            </p>
          </div>
        </li>
        <li class="reviews-item swiper-slide">
          <div class="reviews-item-top"></div>
          <div class="reviews-item-container">
            <img
              class="reviews-photo"
              srcset="
                ../img/reviews/irina-tydnyuk.png    1x,
                ../img/reviews/irina-tydnyuk@2x.png 2x
              "
              src="../img/reviews/irina-tydnyuk.png"
              alt="Irina Tydnyuk"
            />
            <h3 class="reviews-item-title">Irina Tydnyuk</h3>
            <p class="reviews-item-text">
              This is simply the best chocolate around, and I'm just thrilled to
              support a local company! Best local chocolate - world class :)
            </p>
          </div>
        </li>
      </ul>
      <div class="swiper-pagination2"></div>
    </div>
    <button type="button" class="reviews-btn">Leave a review</button>
  </div>
</section>
