<!-- <br>Subscribe<br>
Текст “EXPLORE OUR NEW CHOCOLATE FIRST” є заголовком секції.
Кнопка “Subscribe” відкриває модальне вікно “Explore our new chocolate first”. -->
<section class="subscribe">
    <div class="container subscribe-wrap">
        <h1 class="subscribe-title">EXPLORE OUR NEW CHOCOLATE FIRST</h1>
        <p class="subscribe-parag">From the velvety texture to the rich and complex flavor, our New Chocolate is a true indulgence that will leave you
            craving more. Made with only the finest ingredients and handcrafted with the utmost care, each piece is a work of art
            that is sure to please.
        </p>
        <button class="subscribe-btn">Subscribe</button>
    </div>
    <form class="subscribe-form">
        <img class="subscribe-form-img" srcset="../img/subscribe/mobile-modal-subscribe.jpg 300w, ../img/subscribe/desktop-tablet-modal-subscribe.jpg 768w" alt="chocolate">
        <button class="subscribe-form-close">X
            <!-- <svg class="subscribe-form-close-svg" width="24px" height="24px">
                <use href="../img/icons.svg#close"></use>
            </svg> -->
        </button>
        <div class="subscribe-form-text">
            <h1 class="subscribe-form-title">Explore our <br> <span class="subscribe-form-orange">new chocolate</span> first!</h1>
            <div class="subscribe-form-group">
                <input class="subscribe-form-input" type="email" name="email" placeholder="Enter your email">
                <button class="subscribe-form-submit" type="submit">Submit</button>
            </div>
        </div>
    </form>
</section>