/*<!-- <br>Unique components<br>
Текст “IT ALL ADDS UP TO ONE EXCEPTIONAL TASTE SENSATION” є заголовком секції.
У секції знаходиться перелік унікальних складових шоколаду. Його необхідно реалізувати як сітку елементів з використанням <ul>.
При ховер-ефекті картка з унікальною складовою розгортається та візуалізує її опис.* -->*/
<section class="unique-components">
    <div class="caja">
        <h2 class="unique-h2">IT ALL ADDS UP TO ONE EXCEPTIONAL <span class="unique-taste">TASTE</span> SENSATION</h2>
        <p class="unique-text">At Simply Chocolate, we believe that the secret to exceptional chocolate is in the
            details. From the sourcing of the
            finest ingredients to the careful crafting of each individual piece, every step of our process adds up to
            one
            exceptional taste sensation.</p>
            <ul class="unique-ul">
                <li class="unique-li">
                    <div class="card">
                        <div class="unique-chocolad  unique-card">
                            <img class="unique-img" src="./img/unique-components/mobile-tablet-chocolate.png" alt="chocolate"
                                width="224">
                            <p class="unique-mains">MILK CHOCOLATE</p>
                        </div>
                        <div class="unique-anime unique-card">
                            <div>
                                <h3 class="inique-nombre">Milk chocolate</h3> 
                                <div class="button">                    
                                    <p class="unique-nobutton">chocolate </p>
                                    <p class="unique-nobutton2"> the benefits</p>
                                </div>
                                <p class="unique-anime-text">Milk chocolate is a solid chocolate confectionery containing cocoa,
                                    sugar and milk. It is the most consumed type of
                                    chocolate. Chocolate was originally sold and consumed as a beverage in pre-Columbian times.
                                    Although four-fifths of all milk chocolate is sold in the United States...   
                                </p>
                            </div>
                        </div>
                    </div>    
                </li>
                <li class="unique-li">
                    <div class="card">
                        <div class="unique  unique-card milkchok">
                            <img src="./img/unique-components/mobile-tablet-milk.png" alt="">
                            <p>Milk</p>
                        </div>                  
                        <div class="unique-anime unique-card milk">
                            <h3 class="inique-nombre">Milk</h3>    
                            <div class="button">
                                <p class="unique-nobutton">milk</p>
                                <p class="unique-nobutton2">the benefits</p>
                            </div>                    
                            <p class="unique-anime-text">Milk is a white liquid food produced by the mammary glands of mammals. It is the
                             primary source of nutrition for young mammals (including breastfed human infants) before they are able to digest solid food.Early-lactation
                            milk, which iscalled colostrum, contains antibodies that strengthen the immune system,...</p>
                        </div>
                    </div>
                </li>
                <li class="unique-li">
                    <div class="card">              
                        <div class="unique  unique-card nuts">
                            <img src="./img/unique-components/mobile-tablet-nuts.png" alt="">
                            <p>NUTS</p>
                        </div>
                        <div class="unique-anime unique-card">
                            <h3 class="inique-nombre">Nuts</h3>
                            <div class="button ">
                                <p class="unique-nobutton">nuts</p>
                                <p class="unique-nobutton2">the benefits</p>
                            </div>
                            <p class="unique-anime-text">Almonds, pistachios, and walnuts are some types of nuts that contain healthy
                                nutrients. When eaten as part of  nutrient-dense diet, these 9 nuts may offer benefits such as reducing your risk of heart disease.
                                They’re a good source of fiber, healthy fats, and plant protein. Plus, they’re great on their own, paired with...</p>
                        </div>        
                    </div>
                </li>
                <li class="unique-li">
                    <div class="card">
                        <div class="unique  unique-card cacao">
                            <img src="./img/unique-components/mobile-tablet-cacao.png" alt=""> 
                            <p>SEMI-SWEET CHOCOLATE</p>
                        </div>
                        <div class="unique-anime unique-card">
                            <h3 class="inique-nombre">sweet chocolate</h3>
                            <div class="button">
                                <p class="unique-nobutton">sweet chocolate</p> 
                                <p class="unique-nobutton2">the benefits</p>
                            </div>
                            <p class="unique-anime-text">Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of the best ways
                                to gain an understanding of this type of chocolate is to compare it to a different type of chocolate. Semisweet is darker than milk chocolate.
                                In a taste comparison, it has a slightly bitter taste whereas milk chocolate is sweeter and...</p>
                        </div>
                    </div>
                </li>
            </ul>
    </div> 
</section>