.header {
    display: flex;
    margin-top: 24px;
    margin-bottom: 36px;
  }
  .container {
  }
  .header-container {
  }
  .header-title {
    text-align: center;
    justify-content: center;
    display: flex;
  }
  .header-title-list {
  }
  .header-title-item {
    display: flex;
    align-items: center;
  }
  .title-link {
  }
  .header-simply {
      font-family: 'Montserrat';
      font-style: italic;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.29;
      letter-spacing: -0.03em;
      color: #111111;
      margin-right: 5px;
  }
  .header-chocolate {
      font-family: 'Montserrat';
      font-style: italic;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.29;
      letter-spacing: -0.03em;
      color: #111111;
  }
  .header-icon {
    margin: auto;
    position: relative;
    stroke: rgba(253, 146, 34, 1);
    fill: none;
  }
  .menu-open {
      background-color: transparent;
      border-color: transparent;
      margin-left: auto;
    }
    .menu-open-icon {
      height: 14px;
      width: 21px;
      stroke: rgba(17, 17, 17, 1)
    }
  .header-nav {
    display: none;
  }
  .header-address {
    display: none;
  }
  .mob-menu {
      position: fixed;
      background-color: #1E1823;
      width: 50%;
      height: 100%;
      padding-top: 28px;
      padding-bottom: 23px;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      z-index: 1;
    top: 0;
    right: 0;
  }
  .mob-menu.is-open {
      opacity: 1;
      visibility: visible;
      pointer-events: initial;
    }
  .menu-close {
      display: block;
      margin-left: auto;
      margin-left: auto;
      border-color: transparent;
      background-color: transparent;
      margin-bottom: 96px;
  }
  .menu-close-icon {
      stroke: 
      rgba(255, 255, 255, 1);
      width: 12px;
      height: 12px;
  }
  .nav-mob{
  }
  .header-nav-mob{
      width: 100%;
      margin-left: auto;
      margin-right: auto;
  
  }
  .header-link-mob{
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      display: flex;
      align-items: center;
      letter-spacing: -0.02em;
      color: #FFFFFF;
  
  }
  .header-link-mob:not(:last-child){
      padding-bottom: 24px;
  }
  .mob-address {
      display: block;
      margin-top: auto;
  
  }
  .mob-soc {
      display: flex;
      gap: 21px;
  }
  .mob-soc-link {
  }
  .mob-soc-item {
      fill: none;
      stroke: rgba(255, 255, 255, 1);
  }
  .mob-soc-icon {
  }
  .mob-menu > .container {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  
  
  @media screen and (min-width: 768px) {
      .menu-open-icon {
          height: 16px;
          width: 24px;
        }
        .menu-close-icon {
          width: 14px;
          height: 14px;
      }
  }
  @media screen and (min-width: 1200px) {
      .mob-menu{
          display: none;
      }
      .menu-open{
          display: none;
      }
      .header-title-list {
          margin-right: 190px;
        }
    .header-simply {
      font-size: 18px;
      line-height: 1.11;
      letter-spacing: -0.03em;
    }
    .header-chocolate {
      font-size: 18px;
      line-height: 1.11;
      letter-spacing: -0.03em;
    }
    .header-nav {
      display: flex;
    }
    .header-link {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      display: flex;
      align-items: center;
      letter-spacing: -0.02em;
      color: #111111;
      gap: 24px;
    }
    .header-link:not(:last-child) {
      padding-right: 24px;
    }
    .header-address {
      display: flex;
      margin-left: auto;
    }
    .header-soc {
      display: flex;
      gap: 21px;
    }
    .header-soc-link {
    }
    .header-soc-item {
      fill: none;
      stroke: rgba(17, 17, 17, 1);
    }
    .header-soc-link :focus,
    .header-soc-link :hover {
      stroke: rgba(253, 146, 34, 1);
    }
    .header-soc-icon {
    }
  }
  