.header {
  display: flex;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 19px;
}
.header-title {
  display: flex;
}
.title-link {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: var(--color-black);
}
.header-simply {
  font-style: italic;
  margin-right: 5px;
}
.header-icon {
  margin-left: 4px;
  position: relative;
  stroke: var(--color-orange);
  fill: none;
  width: 21px;
  height: 21px;
}
.header-nav {
  display: none;
}
.header-address {
  display: none;
}

.menu-open {
  position: fixed;
  top: 20px;
  z-index: 100;
  right: calc(50% - 353px / 2);
  display: block;
  align-items: center;
  background-color: transparent;
  border-color: transparent;
}

.menu-open-icon {
  display: block;
  height: 28px;
  width: 28px;
  stroke: var(--color-black);
  transition: stroke 250ms var(--timing-function);
}
.menu-open-icon:hover,
.menu-open-icon:focus {
  stroke: var(--color-orange);
}

.mob-menu {
  position: fixed;
  background-color: var(--color-dark-purple);
  width: 220px;
  height: 100%;
  padding-top: 28px;
  padding-bottom: 23px;
  visibility: hidden;
  pointer-events: none;
  z-index: 1000;
  top: 0;
  right: 0;
  transition: transform 250ms var(--timing-function),
    visibility 250ms var(--timing-function);
  transform: translateX(100%);
}
.mob-menu.is-open {
  transform: translateX(0);
  transition: transform 250ms var(--timing-function),
    visibility 250ms var(--timing-function);
  visibility: visible;
  pointer-events: initial;
}
.menu-close {
  display: block;
  margin-left: auto;
  margin-left: auto;
  border-color: transparent;
  background-color: transparent;
  margin-bottom: 96px;
}
.menu-close-icon {
  stroke: var(--color-white-default);
  transform: scale(100%);
  transition: stroke 250ms var(--timing-function),
    transform 250ms var(--timing-function);
}
.menu-close-icon:focus,
.menu-close-icon:hover {
  stroke: var(--color-orange);
  transform: scale(143%);
}

.header-nav-mob {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  padding-left: 30px;
  margin-left: auto;
  margin-right: auto;
}
.header-link-mob {
  position: relative;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: var(--color-white-default);
  transition: color 250ms var(--timing-function);
}
.mob-address {
  display: block;
  margin-top: auto;
}
.mob-soc {
  display: flex;
  gap: 21px;
}
.mob-soc-item {
  fill: none;
  stroke: var(--color-white-default);
  transition: stroke 250ms var(--timing-function);
}
.mob-soc-item:focus,
.mob-soc-item:hover {
  stroke: var(--color-orange);
}
.mob-soc-icon {
  width: 22px;
  height: 22px;
}
.mob-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mob-menu > .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-link-mob:hover,
.header-link-mob:focus {
  color: var(--color-orange);
}
.header-link-mob::after {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  bottom: -50%;
  width: 24px;
  height: 1px;
  opacity: 0;
  background-color: var(--color-orange);
  transition: opacity 250ms var(--timing-function);
}
.header-link-mob:hover::after,
.header-link-mob:focus::after {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 31px;
    padding-bottom: 31px;
  }

  .menu-open {
    top: 24px;
    right: calc(50% - 722px / 2);
  }

  .mob-soc-icon {
    width: 24px;
    height: 24px;
  }
  .mob-menu {
    width: 290px;
  }
  .header-nav-mob {
    padding-left: 53px;
  }
  .menu-open-icon {
    height: 32px;
    width: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-bottom: 36px;
  }
  .mob-menu {
    display: none;
  }
  .menu-open {
    display: none;
  }
  .header-title-list {
    margin-right: 190px;
    display: flex;
    align-items: center;
  }
  .title-link {
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.03em;
  }
  .header-icon {
    margin-right: 188px;
  }
  .header-nav {
    display: flex;
    gap: 24px;
  }
  .header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: var(--color-black);
    transition: color 250ms var(--timing-function);
  }
  .header-link:hover,
  .header-link:focus {
    color: var(--color-orange);
  }
  .header-address {
    display: flex;
    margin-left: auto;
  }
  .header-soc {
    display: flex;
    gap: 21px;
  }
  .header-icon {
    width: 24px;
    height: 24px;
  }
  .header-soc-item {
    fill: none;
    stroke: var(--color-black);
    transition: stroke 250ms var(--timing-function);
  }
  .header-soc-item:focus,
  .header-soc-item:hover {
    stroke: var(--color-orange);
  }
  .header-soc-icon {
    display: block;
    width: 24px;
    height: 24px;
  }
}
