.hero-section {
  padding-bottom: 71px;
}
.hero {
  width: 335px;
  background-image: url(../img/hero/mobile-background-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: url(../img/hero/mobile-background-hero@2x.jpg);
  }
}
.hero-container {
}
.hero-title-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: var(--color-white-default);
  text-align: left;
  padding-top: 395px;
  margin-bottom: 32px;
}

.hero-btn {
  width: 120px;
  height: 41px;
  background: var(--color-orange);
  border-radius: 100px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: var(--color-white-default);
  border: none;
  margin-right: 10px;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--color-light-orange);
  color: var(--color-orange);
}

.hero-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  border: 1px solid var(--color-white-default);
  border-radius: 100px;
  padding: 11px 28px;
  color: var(--color-white-default);
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.hero-link:hover,
.hero-link:focus {
  border: 1px solid var(--color-orange);
  color: var(--color-orange);
}
.hero-scroll-link .hero-scroll {
  color: var(--color-white);
}
.hero-scroll-link:hover .hero-scroll {
  color: var(--color-orange);
}
.hero-scroll {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.hero-scroll-link .hero-scroll-wrapper {
  background: var(--color-white-default);
  color: var(--color-orange);
}
.hero-scroll-link:hover .hero-scroll-wrapper {
  color: var(--color-white);
  background-color: var(--color-orange);
}
.hero-scroll-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.hero-scroll-link {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 32px;
  padding-bottom: 21px;
}
.hero-scroll-icon {
  fill: currentColor;
}
@media screen and (min-width: 768px) {
  .hero-section {
    padding-bottom: 50px;
  }
  .hero {
    width: 704px;
    padding-right: 40px;
    padding-left: 40px;
    background-image: url(../img/hero/tablet-background-hero.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: url(../img/hero/tablet-background-hero@2x.jpg);
    }
  }
  .hero-container {
  }
  .hero-wrapper {
    display: flex;
    align-items: center;
    padding-bottom: 40px;
  }
  .hero-title-text {
    width: 484px;
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.03em;
    padding-top: 671px;
    color: var(--color-white-default);
  }

  .hero-btn {
    width: 144px;
    height: 45px;
    margin-right: 14px;
  }

  .hero-link {
    padding: 13px 39px;
  }
  .hero-scroll-link {
    margin-top: 0;
    padding-bottom: 0;
    margin-left: 153px;
    gap: 14px;
  }
  .hero-scroll {
    margin-top: 0;
    width: 78px;
    height: 18px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
  }
  .hero-scroll-wrapper {
    width: 38px;
    height: 38px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    width: 1136px;
    background-image: url(../img/hero/desktop-background-hero.jpg);
    margin-bottom: 72px;
  }

  .hero-container {
  }

  .hero-title-text {
    padding-top: 381px;
  }
  .hero-scroll-link {
    margin-left: 585px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: url(../img/hero/desktop-background-hero@2x.jpg);
    }
  }
}
