

.hero {
    width: 335px;
    background-image: url(../img/hero/mobile-background-hero.jpg);
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    margin-bottom: 71px; 
}

.hero-container {
    height: 621px;
}

.hero-title-text {
    width: 291px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    text-align: left;
    padding-top: 395px;
    margin-bottom: 32px;
}

.hero-btn {
    width: 120px;
    height: 41px;
    background: var(--color-orange);
    border-radius: 100px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    color: #FFFFFF;
    border: none;
    margin-right: 10px;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--color-light-orange);
    color: var(--color-orange);
}

.hero-link {
    height: 17px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    border: 1px solid #FFFFFF;
    border-radius: 100px;
    padding: 11px 20px;
    color: #FFFFFF;
}

.hero-scroll {
    display: inline-block;
    width: 67px;
    height: 14px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    margin-top: 32px;
}

.hero-scroll-link {
    display: inline-block;
    width: 28px;
    height: 28px;
    background: #FFFFFF;
    transform: matrix(0, 1, 1, 0, 0, 0);
    border-radius: 50%;
    margin-left: 12px;
}

@media screen and (min-width: 768px) {

.container {
    padding-right: 32px;
    padding-left: 32px;
}

.hero {
    width: 704px;
    padding-right: 40px;
    padding-left: 40px;
    background-image: url(../img/hero/tablet-background-hero.jpg);
    margin-bottom: 50px;
}

.hero-container {
    height: 890px;
}

.hero-title-text {
    width: 484px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.03em;
    padding-top: 671px;
    color: #FFFFFF;
    
}

.hero-btn {
    width: 144px;
    height: 45px;
}

.hero-link {
    padding: 13px 40px;
}

.hero-scroll {
    margin-top: 0;
    width: 78px;
    height: 18px;  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
}

}

@media screen and (min-width: 1200px) {
.hero {
    width: 1136px;
    background-image: url(../img/hero/desktop-background-hero.jpg);
    margin-bottom: 72px;
}

.hero-container {
    height: 600px;
}

.hero-title-text {
    padding-top: 381px;
}

}

