.modal-buy-now {
  /* display: none; */
  
  /* position: relative;
  margin-left: auto;
  margin-right: auto; */
 width: 311px;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) scale(1);

  padding: 32px 24px;
  border-radius: 15px;
  overflow: auto;

  z-index: 50;

  background-color: var(--color-white);

  transition: transform 250ms var(--timing-function),
    opacity 250ms var(--timing-function);
  /* outline: 1px solid tomato; */
}

.modal-buy,
.popup-buy {
  opacity: 1;
}

.modal-buy-hidden,
.popup-buy-hidden {
  transform: translate(-50%, -50%) scale(1.2);
  opacity: 0;
  pointer-events: none;
}

.buy-close-wrapper {
  position: absolute;
  top: 20px;
  right: 20px;

  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 34px;
  height: 34px; */
  stroke: currentColor;
  border: none;
  border-radius: 50%;
  background-color: var(--color-white);

  transition: background-color 250ms var(--timing-function);
}

.buy-close {
  width: 24px;
  height: 24px;

  stroke: var(--color-black);

  transition: stroke 250ms var(--timing-function);
}

.buy-close-wrapper:is(:hover, :focus) {
  background-color: var(--color-light-orange);
  outline: none;
}

.buy-close-wrapper:is(:hover, :focus) .buy-close {
  stroke: var(--color-orange);
}

.modal-buy-title {
  margin-bottom: 32px;

  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.buy-title-accent {
  color: var(--color-orange);
}

.buy-choco-item {
  display: block;

  background-color: var(--color-white-default);

  border: 1px solid var(--color-black-transparent);
  border-radius: 15px;
  padding: 32px 32px 28px;
}

.buy-choco-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: inherit;
}

.buy-description {
  display: inline-block;
  padding: 8px 29px;
  margin-top: 16px;
  max-width: fit-content;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  color: var(--color-black);
  text-align: center;

  border: 1px solid var(--color-black-transparent);
  border-radius: 100px;
  background-color: var(--color-white);
}

.modal-buy-input {
  display: block;

  width: 100%;
  height: 45px;

  padding: 14px 18px;
  margin-top: 8px;

  border: 1.5px solid var(--color-black-transparent);
  border-radius: 8px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--color-black);
}

.modal-buy-input::placeholder {
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--color-placeholder);
}

.modal-buy-personal {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.modal-buy-phone {
  padding-left: 106px;
}

.buy-phone-icon-wrapper {
  display: block;
  position: relative;
}

.buy-flag {
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);

  width: 24px;
  height: 18px;

  z-index: 100;
}

.country-code {
  display: inline-block;
  position: absolute;

  top: 50%;
  transform: translateY(-50%);
  left: 56px;

  padding: 4px 8px 4px 0px;
  border-right: 1.5px solid var(--color-black-transparent);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.modal-mastercard-wrapper {
  display: block;
  position: relative;
}

.buy-mastercard {
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);

  width: 32px;
  height: 21px;
}

.modal-form-buy {
  margin-top: 32px;
}

.swiper-pagination3 {
  margin-top: 14px;
}

.buy-card-input {
  position: relative;
}

.modal-buy-inputs {
  margin-bottom: 18px;
}

.modal-buy-subtitle {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
}

.modal-buy-text {
  resize: none;
  width: 100%;
  height: 91px;
}

.modal-buy-btn {
  padding: 12px 28px;
  background-color: var(--color-orange);

  border: none;
  border-radius: 100px;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  color: var(--color-white-default);

  transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function);
}

.modal-buy-btn:is(:hover, :focus) {
  background-color: var(--color-light-orange);
  color: var(--color-orange);
  outline: none;
}

.swiper3{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
}
.swiper-pagination3 {
  margin-top: 20px;
  /* position: absolute; */
  text-align: center;
  transition: .3s opacity;
  transform: translate3d(0,0,0);
}

/* li .buy-choco-item.swiper-slide{
  width: 231px;
  margin-right:0;
} */
/*MOBILE*/

@media screen and (max-width: 767px) {

}

/*TABLET*/
@media screen and (min-width: 768px) {
  .modal-buy-now {
    position: relative;

    width: 609px;
    padding: 48px;

    border-radius: 15px;
  }
/* .buy-choco-item{
  width: 160px;
} */
  .buy-choco-list {
    display: flex;
    /* justify-content: center; */
    /* column-gap: 16px; */
  }

  .buy-close {
    top: 31px;
    right: 31px;

    width: 28px;
    height: 28px;
  }

  .modal-buy-title {
    font-size: 24px;
    line-height: 1.17;
  }

  .buy-choco-list {
    margin-bottom: 40px;
  }

  .buy-choco-item {
    padding: 24px 20px 18px;
  }

  .buy-description {
    margin-top: 14px;
  }

  .modal-buy-input {
    height: 66px;

    padding: 22px 24px;

    border-radius: 13px;

    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
  }

  .modal-buy-input::placeholder {
    font-size: 18px;
    line-height: 1.22;
  }

  .modal-buy-personal {
    display: flex;
    flex-direction: row;
    column-gap: 21px;
  }

  .modal-buy-phone {
    padding-left: 177px;
  }

  .buy-card-input {
    display: flex;
    gap: 16px;
  }

  .buy-flag {
    position: absolute;
    top: 50%;
    left: 24px;
    width: 32px;
    height: 24px;
  }

  .modal-buy-subtitle {
    font-size: 14px;
    line-height: 1.29;
  }

  .country-code {
    left: 74px;

    padding: 5px 32px 5px 0px;

    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
  }

  .buy-mastercard {
    right: 24px;

    width: 44px;
    height: 30px;
  }

  .modal-buy-text {
    height: 137px;
  }

  .modal-buy-btn {
    padding: 14px 40px;
  }
}

/*THANK YOU*/

.modal-buy-thanks {
  position: absolute;
  /* top: 50vh;
  left: 50vw; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  margin-left: auto;
  margin-right: auto;

  width: 311px;
  height: 350px;

  padding: 84px 24px 170px 68px;
  border-radius: 15px;

  background-color: var(--color-orange);
  background-image: url('../img/mobile-chocolate-modal.png');
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 276px;

  transition: transform 250ms var(--timing-function),
        opacity 250ms var(--timing-function);
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .modal-buy-thanks {
    background-image: url('../img/mobile-chocolate-modal@2x.png');
    background-size: 276px;
  }
}

.thanks-close {
  width: 16px;
  height: 16px;
  stroke: var(--color-orange);

  transition: stroke 250ms var(--timing-function);
}

.modal-icon-wrapper {
  position: absolute;
  top: 14px;
  right: 14px;

  display: flex;

  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: transparent;

  background-color: var(--color-light-orange);

  justify-content: center;
  align-items: center;

  transition: background-color 250ms var(--timing-function),
    border 250ms var(--timing-function);
}

.modal-icon-wrapper:is(:hover, :focus) {
  background-color: var(--color-orange);
  border: 2px solid var(--color-light-orange);
  outline: none;
}

.modal-icon-wrapper:is(:hover, :focus) .thanks-close {
  stroke: var(--color-light-orange);
}

.thank-you-subtitle {
  margin-bottom: 8px;

  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: var(--color-light-orange);
}

.thanks-text {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;

  color: var(--color-white-default);
}

@media screen and (min-width: 768px) {
  .modal-buy-thanks {
    width: 516px;
    height: 414px;

    padding: 154px 77px 154px 163px;
    border-radius: 15px;

    background-image: url('../img/desktop-tablet-chocolate-modal.png');
    background-size: 276px;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .modal-buy-thanks {
      background-image: url('../img/desktop-tablet-chocolate-modal@2x.png');
      background-size: 276px;
    }
  }

  .thanks-close {
    width: 22px;
    height: 22px;
  }

  .modal-icon-wrapper {
    top: 22px;
    right: 22px;

    width: 40px;
    height: 40px;
  }

  .thank-you-subtitle {
    font-size: 24px;
    line-height: 1.17;
  }

  .thanks-text {
    font-size: 18px;
    line-height: 1.33;
  }
}
