.modal-buy-now {
  position: relative;

  padding: 32px 0;

  border-radius: 15px;
}

.buy-close {
  position: absolute;
  top: 0;
  right: 0;

  stroke: var(--color-black);
}

.modal-buy-title {
  margin-bottom: 32px;

  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.buy-title-accent {
  color: var(--color-orange);
}

.buy-choco-list {
  margin-bottom: 32px;
}

.buy-choco-item {
  display: inline-block;

  background-color: var(--color-white);

  border: 1px solid var(--color-black-transparent);
  border-radius: 15px;
  padding: 32px 32px 28px;
}

.buy-choco-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buy-description {
  display: inline-block;
  padding: 8px 29px;
  margin-top: 16px;
  max-width: fit-content;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  color: var(--color-black);
  text-align: center;

  border: 1px solid var(--color-black-transparent);
  border-radius: 100px;
  background-color: var(--color-white);
}

.modal-buy-input {
  display: block;
  width: 100%;
}

.modal-buy-input::placeholder {
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--color-placeholder);
}

.modal-buy-personal {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.modal-buy-phone {
  position: relative;
}

.buy-flag {
  position: absolute;
  width: 24px;
  height: 18px;
  left: 18;
  top: 14;
  z-index: 100;
}

.buy-mastercard {
  position: absolute;
  width: 32px;
  height: 21px;
}

.buy-card-input {
  position: relative;
}

.modal-buy-inputs {
  margin-bottom: 18px;
}

.modal-buy-subtitle {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
}

textarea {
  resize: none;
  /* width: 100%; */
}

.modal-buy-btn {
  padding: 12px 28px;
  background-color: var(--color-orange);

  border: none;
  border-radius: 100px;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  color: var(--color-white-default);
}

/*MOBILE*/

@media screen and (max-width: 767px) {
  .modal-buy-now {
    max-width: 311px;
  }
}

/*TABLET*/
@media screen and (min-width: 768px) {
  .buy-card-input {
    display: flex;
    gap: 16px;
  }

  .buy-choco-item {
    max-width: 160px;
  }

  .modal-buy-personal {
    display: flex;
    flex-direction: row;
  }
}

/*DESKTOP*/

@media screen and (min-width: 1200px) {
}
