/* Backdrop */

.modal-review__backdrop {
  position: fixed;
  top: 0;
  left: 0;

  /* overflow: auto; */

  z-index: 5;

  width: 100vw;
  height: 100vh;

  background-color: var(--color-black-translucent);

  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-review__backdrop--hidden {
  opacity: 0;
  pointer-events: none;
}

.page__body--no-scroll {
  overflow-y: hidden;
}

/* Modal Window Add Review */

.modal-review {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) scale(1);

  display: flex;
  flex-direction: column;
  row-gap: 32px;

  padding: 32px 24px;

  width: 311px;
  min-height: 471px;

  background-color: var(--color-white);
  border-radius: 15px;
  border: 1px solid #bababa;

  opacity: 1;

  transition: transform 250ms var(--timing-function),
    opacity 250ms var(--timing-function);
}

.modal-review--hidden {
  transform: translate(-50%, -50%) scale(1.2);
  opacity: 0;
  pointer-events: none;
}

.modal-review__button-close {
  position: absolute;
  top: 14px;
  right: 14px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;

  color: var(--color-black);

  border: none;
  border-radius: 50%;

  background-color: transparent;

  transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function);
}

.modal-review__button-close-icon {
  width: 24px;
  height: 24px;
  stroke: currentColor;
}

.modal-review__button-close:hover,
.modal-review__button-close:focus {
  background-color: var(--color-light-orange);
  color: var(--color-orange);

  outline: none;
}

.modal-review__title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.03em;

  text-transform: uppercase;
}

.modal-review__title--accent {
  color: var(--color-orange);
}

.review-form {
  display: flex;
  flex-direction: column;
  row-gap: 14px;

  align-items: flex-start;
}

.review-form__field {
  position: relative;

  width: 100%;

  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  letter-spacing: -0.02em;
}

.review-form__label {
  position: absolute;
  top: 50%;
  left: 18px;

  color: var(--color-placeholder);

  transform: translateY(-50%);
}

.review-form__label--area {
  top: 4px;

  transform: translateY(50%);
}

.review-form__field:focus-within .review-form__label,
.review-form__input:not(:placeholder-shown) + .review-form__label {
  display: none;
}

.review-form__input {
  padding: 14px 18px;

  width: 100%;
  height: 45px;

  outline: none;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  /* filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03)); */
  border-radius: 8px;

  background-color: transparent;
}

.review-form__input--phone {
  padding-left: 106px;
}

.review-form__label--phone {
  left: 106px;
}

.review-form__area-phone {
  position: absolute;
  top: 50%;
  left: 18px;

  display: flex;
  column-gap: 8px;
  align-items: center;

  padding-right: 8px;

  color: #000000;
  border-right: 1.5px solid rgba(0, 0, 0, 0.1);

  font-size: 14px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.02em;

  transform: translateY(-50%);
}

.modal-review__icon-phone {
  width: 24px;
  height: 18px;
}

.review-form__input--area {
  height: 91px;
  resize: none;
}

.review-form__input:focus {
  border-color: var(--color-orange);
}

.review-form__button-submit {
  margin-top: 4px;
  padding: 0 28px;
  align-self: flex-start;

  height: 41px;
  min-width: 93px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--color-white-default);
  background-color: var(--color-orange);

  border: none;
  border-radius: 100px;

  font-size: 14px;
  font-weight: 600;
  line-height: 1.21;

  transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function);
}

.review-form__button-submit:hover,
.review-form__button-submit:focus {
  color: var(--color-orange);

  background-color: var(--color-light-orange);
}

@media screen and (min-width: 768px) {
  .modal-review {
    row-gap: 40px;

    padding: 40px;

    width: 517px;
    min-height: 631px;
  }

  .modal-review__button-close {
    top: 24px;
    right: 24px;
  }

  .modal-review__button-close-icon {
    width: 28px;
    height: 28px;
  }

  .modal-review__title {
    width: 298px;

    font-size: 24px;
    line-height: 1.17;
  }

  .modal-review__mobile-header-divider {
    display: none;
  }

  .review-form {
    row-gap: 19px;
  }

  .review-form__field {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.22;
  }

  .review-form__label {
    left: 24px;
  }

  .review-form__label--area {
    top: 8px;
  }

  .review-form__input {
    padding: 22px 24px;

    height: 66px;

    border-radius: 13px;
  }

  .review-form__input--phone {
    padding-left: 177px;
  }

  .review-form__label--phone {
    left: 177px;
  }

  .review-form__area-phone {
    left: 24px;

    column-gap: 18px;

    padding-right: 32px;

    font-size: 18px;
    line-height: 1.22;
  }

  .modal-review__icon-phone {
    width: 32px;
    height: 24px;
  }

  .review-form__input--area {
    height: 137px;
  }

  .review-form__button-submit {
    margin-top: -1px;
    padding: 0 40px;

    height: 45px;
    min-width: 117px;
  }
}
