.subscribe {
  position: relative;
  background-image: url('../img/subscribe/mobile-background-subscribe.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 62px 0;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .subscribe {
    background-image: url('../img/subscribe/mobile-background-subscribe@2x.jpg');
  }
}

.subscribe-title {
  margin: 0 auto 24px auto;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--color-white-default);
}

.subscribe-parag {
  width:100%;
  max-width: 326px;
  margin: 0 auto 24px auto;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--color-white-default);
}

.subscribe-btn {
  display: block;
  margin: 0 auto;
  min-width: 128px;
  min-height: 41px;
  border: none;
  border-radius: 100px;
  background-color: var(--color-orange);
  padding: 12px 28px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: var(--color-white-default);
  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--color-light-orange);
  color: var(--color-orange);
}

/* Form */

.subscribe-form {
  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%) scale(1);
  width: 311px;
  height: 350px;
  border-radius: 15px;
  background-color: var(--color-white-default);
  overflow: hidden;
  opacity: 1;
  transition: transform 250ms var(--timing-function),
    opacity 250ms var(--timing-function);
}

.subscribe-form-hidden {
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(1.2);

}

.subscribe-form-close {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  min-height: 40px;
  margin: 0;
  padding: 6px;
  color: var(--color-black);
  border: none;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 250ms var(--timing-function);
}

.subscribe-form-close-svg {
  display: block;
  width: 24px;
  height: 24px;
  stroke: var(--color-white-default);
  transition: stroke 250ms var(--timing-function);
}

.subscribe-form-close:hover,
.subscribe-form-close:focus {
  background-color: var(--color-light-orange);
}

.subscribe-form-close:hover .subscribe-form-close-svg,
.subscribe-form-close:focus .subscribe-form-close-svg {
  stroke: var(--color-orange);
}

.subscribe-form-img {
  width: 100%;
}

.subscribe-form-text {
  padding: 32px 24px;
}

.subscribe-form-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--color-black);
  margin-bottom: 24px;
}

.subscribe-form-orange {
  color: var(--color-orange);
}

.subscribe-form-group {
  position: relative;
}

.subscribe-form-input {
  width: 263px;
  height: 45px;
  border: 1.5px solid var(--color-black-transparent);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 25px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 18px;
  padding-right: 100px;
  transition: border 250ms var(--timing-function);
}

.subscribe-form-input:focus {
  outline: none;
  border: 1px solid var(--color-orange);
}

.subscribe-form-input:placeholder {
  font-size: 14px;
  line-height: 1.21;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: var(--color-placeholder);
}

.subscribe-form-submit {
  position: absolute;
  left: 163px;
  width: 100px;
  height: 45px;
  border: none;
  border-radius: 100px;
  background-color: var(--color-orange);
  cursor: pointer;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  color: var(--color-white-default);
  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
}

.subscribe-form-submit:hover,
.subscribe-form-submit:focus {
  color: var(--color-orange);
  background-color: var(--color-light-orange);
  outline: none;
}

@media screen and (min-width: 375px) {
  .subscribe-title {
    width: 291px;
  }


}

@media screen and (min-width: 768px) {
  .subscribe {
    background-image: url('../img/subscribe/tablet-background-subscribe.jpg');
    padding: 72px 0;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .subscribe {
      background-image: url('../img/subscribe/tablet-background-subscribe@2x.jpg');
    }
  }

  .subscribe-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
  }

  .subscribe-parag {
    max-width: 467px;
  }

  .subscribe-btn {
    min-width: 172px;
    height: 50px;
    font-size: 18px;
    line-height: 1.22;
  }

  .subscribe-form {
    width: 538px;
    height: 412px;
  }

  .subscribe-form-img {
    width: 538px;
    height: 196px;
  }

  .subscribe-form-close {
    right: 24px;
    top: 24px;
  }

  .subscribe-form-close-svg {
    width: 28px;
    height: 28px;
  }

  .subscribe-form-text {
    padding: 40px;
  }

  .subscribe-form-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 28px;
  }

  .subscribe-form-group {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  .subscribe-form-input {
    width: 313px;
    height: 52px;
    border: 1.5px solid var(--color-black-transparent);
    filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
    border-radius: 25px;
    padding: 14px 18px;
  }

  .subscribe-form-input::placeholder {
    font-size: 18px;
    line-height: 1.22;
  }

  .subscribe-form-submit {
    position: relative;
    left: 0;
    width: 137px;
    height: 52px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe {
    background-image: url('../img/subscribe/desktop-background-subscribe.jpg');
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .subscribe {
      background-image: url('../img/subscribe/desktop-background-subscribe@2x.jpg');
    }
  }

  .subscribe-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
  }

  .subscribe-parag {
    width: 467px;
  }
}
