.unique-components {
    padding-top: 72px;
    padding-bottom: 36px;
}



.unique-h2 {
    color: var(--color-black);
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    line-height: 1.28;
    letter-spacing: 0.03em;
    padding-bottom: 24px;

}

.unique-taste {
    color: var(--color-orange);
}

.unique-text {
    color: var(--color-black);
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.02em;
    text-align: center;
    padding-bottom: 30px;
}

.unique-ul {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    align-items: center;
    justify-content: flex-start;
}

.unique-chocolate {


    border-radius: 15px;
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    align-items: center;

    transition: transform 250ms;
    cursor: pointer;
    transform-style: preserve-3d;

}

.unique-chocolate--orange {
    background-color: var(--color-orange);
    color: var(--color-white-default);
}

.unique-chocolate--white {
    background-color: #FFFFFF;
    border: 1px solid var(--color-orange);
}

.unique-chocolate--black {
    background-color: var(--color-dark-purple);
    color: var(--color-white);
}

.unique-milk {
    background-color: var(--color-white-default);
    color: var(--color-black);
    border-radius: 15px;
    position: absolute;
}

.card {
    width: 100%;
    height: 100%;

    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;

}

.unique-li {
    width: 335px;
    height: 270px;
    perspective: 3000px;
}

.unique-li:hover .card {
    transform: rotateY(180deg);
}

.unique-card {
    position: absolute;

    width: 100%;
    height: 100%;
    padding: 28px;

    backface-visibility: hidden;


}

.unique-mains {
    align-self: flex-start;

    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;

}


.unique-name {
    color: var(--color-black);
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: -0.03;
    text-transform: uppercase;
}

.unique-anime {

    padding: 28px;
    transform: rotateY(180deg);
    background-color: var(--color-white-default);
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.unique-anime-text {

    /* Fix for overlay text */
    height: 146px;
    overflow: hidden;

    color: var(--color-black);
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: 0.02em;

}

.button {
    display: flex;
    margin-top: 8px;
    margin-bottom: 14px;

}

.unique-nobutton {
    background-color: var(--color-orange);
    color: var(--color-white-default);
    margin-right: 6px;
    text-align: center;

    font-size: 10px;
    line-height: 1.2;

    border-radius: 35px;
    padding: 6px 16px;



}

.unique-nobutton2 {
    color: var(--color-black);
    background-color: var(--color-white);
    border: 1px solid var(--color-orange);

    font-size: 10px;
    line-height: 1.2;

    border-radius: 35px;
    padding: 6px 16px;

}

.unique-img {
    width: 224px;
    height: auto;
}

@media screen and (min-width: 768px) {
    .unique-ul {

        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 30px;
        column-gap: 32px;
        align-items: center;
        justify-content: center;
    }

    .unique-li {
        width: 336px;
        height: 270px;
    }

    .unique-li--reordered {
        order: 1;
    }

    .unique-components {
        padding-top: 100px;
        padding-bottom: 50px;
    }

}

@media screen and (min-width: 1200px) {
    .unique-ul {

        flex-direction: row;
        flex-wrap: nowrap;
        column-gap: 19px;
        align-items: center;
        justify-content: center;
    }

    .unique-li {

        width: 270px;
        height: 270px;
    }

    .unique-img {
        width: 206px;
        height: auto;
    }

    .unique-li--reordered {
        order: 0;
    }

    .unique-components {
        padding-top: 128px;
        padding-bottom: 64px;
    }


}